.DefaultRowExample-salvager {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 400px;
  width: 300px;
}

.DefaultRowExample-salvagerRowWrapper {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.DefaultRowExample-salvagerRow {
  padding: 10px;
}
