.Salvager--defaultExample {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 400px;
  width: 300px;
}

.Salvager-rowWrapper--defaultExample {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.Salvager-row--defaultExample {
  padding: 10px;
}
